body{
	background: black;
}
h1{
	color: white;
	text-align: center;
	user-select: none;
}
.face{
	width: 150px;
	height: 150px;
	position: absolute;
	border-radius: 50%;
	background: #fa5;
	box-shadow: inset 0 0 20px #000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	display: flex;
	justify-content: center;
}

.eyes{
	width: 40%;
	height: 60%;
	background: rgb(255, 255, 255);
	position: relative;
	border-radius: 50%;
	margin: 0 5px;
	top: 15%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 10px #000a, inset 0 0 15px #f00a;
}
.eyelids{
	background-color: #fa5;
	position: absolute;
	z-index: 50;
	width: 70px;
	height: 0;
	box-shadow: inset 0 0 10px #000a;
	transition: height .05s;
}
.supeyelids{
	top: 0;
}
.infeyelids{
	bottom: 0;
}
.pupil-container{
	background: transparent;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	transform: translateX(15px);
	display: flex;
	align-items: center;
}
.pupil{
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	background: #000;
	border-radius: 50%;
	position: absolute;	
	border: 5px solid #48e;
}
